<h3>Code Table</h3>

<form method='POST' action = ''>{% csrf_token%}
    Source Code<br>
    {{form.sourceCode}}
    <br><br><br>

    {%  if compile_status and compile_status != "OK" %}
        <h4>Compilation error:</h4>
       <div class="out"><pre style="font-size:17px;  border:1px dashed">{{compile_status}}</pre></div> 
    {% endif %}

    {%  if stderr and stderr != "" %}
        <h4>Stderr:</h4>
       <div class="out"><pre style="font-size:17px;  border:1px dashed">{{stderr}}</pre></div> 
    {% endif %}

    {%  if output %}
        <h5>Output</h5>
        <div class="out"><pre style="font-size:17px;  border:1px dashed">{{output}}</pre></div> 
    {% endif %} 

    {% if time %}
        <div class="float-left col">
            <div class="content-heading-bold"><b>Time (sec)</b>
            </div>
            <div class="less-margin body-font dark"> {{time}}
            </div>
        </div>
    {% endif %} 

    {% if memory %}
        <div class="float-left col">
            <div class="content-heading-bold"><b> Memory (KB)</b>
            </div>
            <div class="less-margin body-font dark"> {{memory}}
            </div>
        </div>
    {% endif %}

    {% if status %}
        <div class="float-left col">
            <div class="content-heading-bold"> <b>Status</b>
            </div>
            <div class="less-margin body-font dark"> {{status}}
            </div>
        </div>
    {% endif %}


    {% if status_detail %}
        <div class="float-left col">
            <div class="content-heading-bold"> <b>Status Detail</b>
            </div>
            <div class="less-margin body-font dark"> {{status_detail}}
            </div>
        </div>
        <div class="clear"></div>
    {% endif %}    

    <br><br>
    Language<br>
    {{form.lang}}
    <br><br>
    Custom Input<br>
    {{form.customInput}}
    <br>
    <br><br>
                                   
    <input type='submit' value='Submit' />

</form>


