<h3>Code Table</h3>

<form method='POST' action = ''>{% csrf_token%}
    Source Code<br>
    {{form.sourceCode}}
    <br><br><br>
    {%  if output %}
        <h5>Output</h5>
        <div class="out"><pre style="font-size:17px;  border:1px dashed">{{output|safe}}</pre></div> 
    {% endif %} 
    <br><br>
    Language<br>
    {{form.lang}}
    <br><br>
    Custom Input<br>
    {{form.customInput}}
    <br>
    <br><br>
                                   
    <input type='submit' value='Submit' />

</form>




<div class="content-heading-bold" replacedata="false">Output</div>
<hr class="hr">
<div class="less-margin">
     
        <pre>Hello Worlcvcxd!
</pre>
     
</div>
<div class="content-heading-bold medium-margin">Input</div>
<hr class="hr">
<div class="less-margin">
    
        <pre class="light">Standard input is empty</pre>
    
</div>
<div class="float-left col">
    <div class="content-heading-bold"> Log ID: 9983760
    </div>
    <div class="less-margin body-font dark"> March 28, 2016 at 05:19 PM
    </div>
</div>
<div class="float-left col">
    <div class="content-heading-bold">Time (sec)
    </div>
    <div class="less-margin body-font dark"> 0.101438
    </div>
</div>
<div class="float-left col">
    <div class="content-heading-bold"> Memory (KB)
    </div>
    <div class="less-margin body-font dark"> 64
    </div>
</div>
<div class="float-left col">
    <div class="content-heading-bold"> Status
    </div>
    <div class="less-margin body-font dark"> AC
    </div>
</div>
<div class="float-left col">
    <div class="content-heading-bold"> Status Detail
    </div>
    <div class="less-margin body-font dark"> NA
    </div>
</div>
<div class="clear"></div>

</div>
